
**/.parcel-cache/**
*cache/**
*.parcel*
*.sublime-project
*.sublime-workspace
*parcel*
.logs
.DS_Store
.env
.idea
.tags*
build
coverage
dist
git.sublime*
node_modules
npm-debug.log
stats.json

# yarn berry
*.yarn/
!.pnp.*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!*/build-state.yml
!*/install-state.gz